# Site settings
title: Kommitprien
email: blasco.miguel@gmail.com
description: >-
  A GitHub Pages site powered by Jekyll
baseurl: "/kommitprien"
url: "https://mblascoespar.github.io"

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Exclude from processing
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - .idea/
  - "*.iml"
